<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="FtpServer" value="ftp.vsochina.com"/>
    <!-- "10.0.20.25" -->
    <add key="FtpUsername" value="zhou88"/>
    <add key="FtpPassword" value="123456"/>
    <add key="Homepage" value="vsochina.com?"/>
  </appSettings>
</configuration>
